<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mappers.revieMapper">
	
	<!-- 관리자 관리용 리뷰보기 -->
    <select id="reviewView" resultType="reviewVO">
    	select r.review_num, r.product_code, p.product_name, c.member_code, c.member_name, r.review_star, r.review_title, r.review_content, r.review_date 
    	from review as r, products as p, member as c
    	where r.product_code = p.product_code  
    </select>   
    
    <!-- 리뷰갯수 -->
    <select id="reviewCnt" resultType="int">    
    	SELECT COUNT(*)
    	FROM review, products 
    	where review.product_code = #{product_code} and review.product_code = products.product_code
    </select>  
    
    <!-- 리뷰전체 -->
	<select id="reviewAll" resultType="reviewVO">
    	select r.review_num, r.product_code, p.product_name, c.member_code, c.member_name, r.review_star, r.review_title, r.review_content, r.review_date, r.review_img, r.review_Timg 
    	from review as r, products as p, member as c
    	where  r.product_code=#{product_code} and r.product_code = p.product_code and c.member_code = r.member_code order by r.review_date desc   
    </select>
    
    <!-- 리뷰쓰기 -->    
	<insert id="reviewWrite">
		INSERT INTO review (product_code, member_code, review_star, review_title, 
		review_content, review_img, review_Timg) 
        VALUES (#{product_code}, #{member_code}, #{review_star}, #{review_title},
         #{review_content}, #{review_img}, #{review_Timg})
	</insert>
	
	<!-- 리뷰삭제 -->
	<delete id="reviewdelete">
    	delete from review where review_num = #{review_num}
    </delete>	
    
</mapper>